---json
{
  "permalink": "posts/feed.xml",
  "layout": "",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Oakchris1955's corner on the Internet",
    "description": "Here I post various stuff about programming, politics, etc.",
    "language": "en",
    "base": "https://oakchris1955.eu/",
    "author": {
      "name": "Oakchris1955"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language or page.lang }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ permalink | htmlBaseUrl(metadata.base) }}" rel="self" />
  <link href="{{ metadata.base | addPathPrefixToFullUrl }}" />
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.base | addPathPrefixToFullUrl }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for post in collections.posts | reverse %}
  {%- set absolutePostUrl %}{{ post.url | htmlBaseUrl(metadata.base) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">
      <a href="{{post.url}}" target="_blank">Full article here</a>
      {{ post.content | renderTransforms(post.data.page, metadata.base) | truncate(1000) }}
    </content>
  </entry>
  {%- endfor %}
</feed>