---
title: Oakchris1955's corner on the Internet
---

<!doctype html>
<html lang="en">
  <head>
    {% include "layouts/head.njk" | indent %}
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav">
          {% for link in header_links %}
            <li class="nav-item"><a href="{{ link.url }}"{% if link.url == page.url %} aria-current="page"{% endif %} {%if link.blank %} target="_blank"{% endif %}>{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <hr>
    <main>
      {{ content | safe }}
    </main>
    <hr>
    <footer>
      <nav style="font-size: smaller" class="plain-links">
        <ul class="nav">
          {% for link in footer_links %}
            <li class="nav-item"><a href="{{ link.url }}" {%if link.blank %} target="_blank"{% endif %}>{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      &copy; 2025 Oakchris1955
    </footer>
  </body>
</html>
