---
# redirect to root by default so that we don't put the user
# in an infinite redirection loop by accident
target: /
title: Page Redirection
---

{# original obtained from https://stackoverflow.com/a/5411601/ #}

<!doctype html>
<html lang="en">
  <head>
    {% include "layouts/head.njk" %}
    <meta http-equiv="refresh" content="1; url={{target}}">
    <script type="text/javascript">
      window.location.href = "{{target}}"
    </script>
  </head>
  <body>
    If you are not redirected automatically, follow this <a href='{{target}}'>Link to {{target}}</a>.
  </body>
</html>
